.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.titulo {
  grid-column: 1 / -1;
}

.info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 20px;
}

/* 
.titulo {
  grid-column: 2;
  text-align: right;
}

.descricao {
  text-align: right;
}

.preco {
  place-self: start end;
}

.comprar {
  align-self: start;
  text-align: center;
}

/* .foto {
  grid-column: 1 / -1;
} */

/* Estilos Gerais */

body {
  font-family: Arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

h2 {
  margin-top: 0px;
}
/* 
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
  
   // Align-content: alinha os elementos pra cima e pra baixo
  //  Justify-content: alinha os elementos para os lados
  
} */

img {
  max-width: 100%;
  border-radius: 4px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border: 4px;
  font-size: 20px;
}
