ul {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 1000px;
}

p {
  font-size: 1.25rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 100%;
  margin: 2.5rem auto;
}

.menu {
  display: flex;
  gap: 20px;
  place-content: center;
  list-style: none;
}

.item {
  background: #ffffff;
  padding: 10px 20px;
  color: #222222;
  text-decoration: none;
  border: 2px solid #fff;
}

.item:hover {
  border: 2px solid #e21;
}

.produto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px;
  position: relative;
}

.produto::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 10px;
  left: 46%;
}

.descricao {
  background: #ffffff;
  max-height: 300px;
  text-align: right;
  padding-right: 16px;
}

.titulo-descricao {
  font-size: 2rem;
  padding: 0px 10px;
}

.texto-descricao {
  font-size: 1rem;
  padding: 10px 10px;
  line-height: 1.5rem;
}

.botao {
  display: inline-block;
  background: #ee2211;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;
}

.botao:hover {
  background: #821;
}

.foto {
  max-width: 400px;
}

.foto-bicicleta {
  max-width: 400px;
}

.vantagens {
  background: url("../img/onda.svg") repeat center top / contain;
}

.texto-vantagens {
  font-size: 4rem;
  text-align: right;
  line-height: 1.5;
  padding: 1.75rem;
  color: #c6c6c6;
}

.vantagens-descricao {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 400px;
}

.titulo-vantagens-descricao {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: 0;
}

.article-vantagens {
  margin: 1rem;
}

.article-vantagens:first-child {
  margin: 1rem 1rem 0 1rem;
}

.article-vantagens:nth-child(even) {
  margin: 0 1rem;
}

.article-vantagens:last-child {
  margin: 0 1rem 1rem 1rem;
}

.article-vantagens:nth-child(odd) {
  background: #c6c6c6;
}

.article-vantagens:hover {
  border-left: 4px solid #e21;
}

.titulo-vantagens-descricao::before {
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}

.texto-vantagens-descricao {
  font-size: 0.875rem;
  margin-left: 50px;
  width: 70%;
}

.eletrica::before {
  content: url("../img/eletrica.svg");
}

.velocidade::before {
  content: url("../img/velocidade.svg");
}

.rastreador::before {
  content: url("../img/rastreador.svg");
}

.footer {
  background: #ffffff;
}

.footer-title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
}
